---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main class='p-2'>
    <h2 class='text-3xl underline'>Path of Levelling</h2>
    <div class='flex flex-col gap-3 mt-4'>
      <p>
        Welcome to the Path of Levelling, a in game tool to help you level your
        characters in Path of Exile.
      </p>
      <p>
        You are able to import levelling guides from the <a
          class='link'
          href='https://heartofphos.github.io/exile-leveling/'
          target='_blank'>Exile Leveling</a
        >.
      </p>
      <div>
        <h3 class='text-xl underline'>Steps:</h3>

        <ol class='list-decimal list-inside p-2'>
          <li>Open PoE and Path of Levelling.</li>
          <li>Set the position of the InGame Display.</li>
          <li>
            Import the guide from <a
              class='link'
              href='https://heartofphos.github.io/exile-leveling/'
              target='_blank'>Exile Leveling</a
            >..
          </li>
          <li>
            Start the guide and follow the instructions. The InGame Display will
            show you the next steps and automatically update as you progress.
          </li>
        </ol>
      </div>
    </div>
  </main>
</Layout>
